html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: rgba(46, 49, 52, 0.8);
    font-size: 14px;
    font-weight: 600;
}

/* Mobile Stlying */
@media screen and (max-width: 600px) {
    .main-nav {
        text-align: center;
    }
    
    .nav-left a{
        float:none;
        text-align: center;
        padding-left: 100px;
    }

    .nav-right a{
        float: none;
        display: block;
        text-align: center;
    }
}

/* Navigation Stlying Start */

.nav {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.nav a {
    color: rgba(46, 49, 52, 0.8);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
}

.nav a:hover {
    color: #000000;
}

.nav a:active {
    color: #000000;
    text-decoration: underline;
}

.product-nav {
    width: 100%;
    border-bottom: solid 2px #d5d6d6;
}

.product-nav a {
    padding: 12px 40px 12px 40px;
    border-right: solid 1px #d5d6d6;
    float: left;
}

.nav-image {
    height: auto;
    width: auto;
}

.nav-left a{
    float:left;
    padding: 20px;
}

.nav-middle {
    text-align: center;
    margin-top: 17px;
}

.nav-middle a {
    text-align: center;
    padding: 29px 20px 29px 20px;
}

.nav-right a{
    float:right;
    margin: 15px 0px 15px 0px;
}

.nav-right .btn {
    padding: 11px 15px 9px 16px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 16px;
    text-transform: capitalize;
}

/* Header Styles */
h3 {
    height: 14px;
    color: rgba(46, 49, 52, 0.8);
    font-family: "Proxima Nova Lt";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
}

/* Body Styling */
.top-spacer {
    padding-top: 100px;
}

/* Button Stlying */
.btn-primary {
    background-color: #0069d2;
    color: #ffffff;
    border-color: #0069d2;
}

/* Hero Styling */
.jumbotron {
    background-image: url("/Images/gmapsinworkout.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%; */
    background-color: #000000 !important;
    margin-bottom: 0px !important;
}

.hero {
    width: 100%;
    height: auto;
    max-height: 70rem;
    min-height: 50rem;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 72px;
    letter-spacing: 1px;
    line-height: 90px;
}

.hero .container {
    margin-top: 10rem;
}

.hero .btn {
    margin: 20px 0px 20px 0px;
    padding: 21px 122px 21px 122px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 0 1px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    /* Btn Font Styling: */
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
}

/* Testimonial Styling */
.testimonials {
    width: 100%;
    height: auto;
    max-height: 300px;
}

.carousel, .carousel-inner, .carousel-item {
    background-color: #f4f5f7;
    text-align: center;
}

.icon-backdrop {
    box-shadow: 0 7px 12px rgba(46, 49, 52, 0.3);
    background-color: #000c28 !important;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    opacity: 0.8;
    z-index: 0;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    margin: 15px;
}

.carousel-item {
    text-align: center;
    margin: 25px 0px 25px 0px;
}

/* Card Styling */
.card-grid {
    margin-left: 20px;
    margin-right:20px;
}

.card-grid .row .card {
    margin: 15px 0px 15px 0px;
    width: 16rem;
    height: 18rem;
}
.card {
    margin: 30px;
    opacity: .8;
    transition: 0.3s;
    box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
    cursor: pointer;
}

.card-body {
    padding: .75rem !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.card-body .card-title {
    margin-bottom: .25rem;
}

.card-body .card-text {
    font-size: 10px;
    line-height: 12px;
}

.card-body .card-text .card-symbol {
    width: 10px;
    height: 10px;
}

.card-link { 
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

.mini-icon {
    width: 28px;
    height: 28px;
}

.card:hover {
    opacity: 1;
    box-shadow: 0 2px 4px rgba(46, 49, 52, 0.8);
}

.equipment-cards {
    padding: 0px 0px 30px 0px;
}

.equipment {
    margin: 30px 30px 30px 30px;
}

.equipment-cards .card {
    width: 19rem;
    height: auto;
    margin: 0px 15px 0px 15px;
}

.equipment-cards .card .card-img-top {
    height: 15rem;
    width: auto;
    align-self: center;
    padding: 0px 10px 0px 10px;
    margin-top: 20px;
}

.equipment h5 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 28px;
    color: #2e3134;
    opacity: 0.8;
}

.equipment .equipment-header h5{
    text-align: center;
    margin: 40px 20px 20px 20px;
    font-size: 1.3rem;
}


/* Footer Styling */
.footer {
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background-color: #2e3134;
}

.footer a {
    color: #ffffff;
}

.footer a:hover{
    color: #ffffff;
}

.footer-nav {
    padding: 30px 30px 30px 30px;
    font-size: 12px;
    line-height: 25px;
}

.footer-nav div {
    text-align: left;
}

.footer-socials .social-icons {
    text-align: center;
    padding: 10px;
    border-top: solid 1px #585a5d;
    border-bottom: solid 1px #585a5d;
    width: 100%;
}

.footer-socials .social-icons a img{
    padding: 10px;
    margin: 10px 0px 10px 0px;
    vertical-align: middle;
    align-self: center;
    display: inline-block;
    width: 60px;
    height: 60px;
}

.footer-socials .social-icons a:hover {
    text-decoration: none;
}

.dropdown {
    background-color: #2e3134;
    color: #ffffff;
    float: left;
    padding: 20px;
    text-align: center;
}

.dropdown #language-select {
    color: #ffffff;
    background-color: #2e3134;
    border: none;
}

.footer-legal .footer-copy {
    display: inline;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: #ffffff;
    margin: 25px;
}

.footer-legal .footer-copy span {
    color: #ffffff;
    padding: 20px 10px 20px 10px;
}