html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background: url(Images/Michael-62edit.jpg) no-repeat top center fixed;
    background-size: auto;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.nav .nav-title {
    font-size: 30px;
    color: black;
    float: left;
    padding: 20px 10px 10px 10px;
    font-family: 'Roboto Slab', serif;
}

.nav .square {
    background-color: dodgerblue;
    height: 50px;
    width: 50px;
    float: left;
    margin: 15px;
}

.nav .square p {
    padding-left: 14px;
    margin-top: 8px;
    font-size: 25px;
    color: white;
    text-decoration: line-through;
    font-family: 'Roboto Slab', serif;
}

.btn {
    position: relative;
    float: right;
    color: white;
    border-radius: 20px;
    background-color: dodgerblue;
    max-height: 15px;
    max-width: 200px;
    margin: 17px 10px 12px 10px;
    padding: 12px 15px 15px 15px;
    border-width: 15px;
    border: solid;
}

.btn:hover {
    color: dodgerblue;
    background-color: white;
    border-color: dodgerblue;
}

.row-1 .banner img {
    height: auto;
    width: auto;
    position: fixed;
    z-index: -1;
}

.content {
    margin-top: 600px;
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
    background-color: #fcfcfc;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-rows: 500px;
}

h1,
h2,
h3 {
    color: dodgerblue;
}

.about {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    float: left;
    max-width: 55%;
    margin: 0px 0px 10px 35px;
    padding: 20px 5px 5px 50px;
}

.skills {
    position: relative;
    float: left;
    margin: 0px 150px 10px 35px;
    padding: 20px 5px 5px 35px;
}

.skill {
    margin: 25px 5px 25px 5px;
}

.dot-array {}

.dot-array .dot {
    position: relative;
    float: left;
    border-radius: 20px;
    background-color: dodgerblue;
    height: 10px;
    width: 20px;
    margin: 3px 6px 3px 0px;
}

.dot-array .empty {
    background-color: grey !important;
}

.about-more {
    float: left;
    max-width: 65%;
    font-size: 18px;
    line-height: 30px;
    margin: 0px 0px 10px 80px;
    padding: 30px 5px 5px 5px;
}